certifi==2020.4.5.1
click==7.1.2
clickhouse-driver==0.1.3
flask==1.1.2
itsdangerous==1.1.0
jinja2==2.11.2
kafka-python==2.0.1
markupsafe==1.1.1
mysql-replication==0.21
mysqlclient==1.4.6
pymysql==0.9.3
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
redis==3.5.0
sentry-sdk==0.14.3
six==1.14.0
tzlocal==2.0.0
urllib3==1.25.9
werkzeug==1.0.1
