<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mysql2ch monitor</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <style>
        .chart {
            margin-top: 5vh;
            margin-left: auto;
            margin-right: auto;
            width: 90vw;
            height: 45vh;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <div class="chart" id="producer"></div>
    <div class="chart" id="consumer"></div>
</div>
<script type="text/javascript">
    let producer_chart = echarts.init(document.getElementById('producer'));
    let consumer_chart = echarts.init(document.getElementById('consumer'));

    function get_data() {
        $.get('/monitor').done(data => {
            let consumer = data.consumer;
            let producer = data.producer;
            producer_chart.setOption({
                title: {
                    text: 'Producer Monitor'
                },
                tooltip: {},
                legend: {
                    data: producer.legend
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: producer.x_axis
                },
                yAxis: {
                    type: 'value'
                },
                series: producer.series,
                dataZoom: [
                    {
                        type: 'slider',
                        xAxisIndex: 0,
                        filterMode: 'empty'
                    }
                ],
            });
            consumer_chart.setOption({
                title: {
                    text: 'Consumer Monitor'
                },
                tooltip: {},
                legend: {
                    data: consumer.legend
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: consumer.x_axis
                },
                yAxis: {
                    type: 'value'
                },
                series: consumer.series,
                dataZoom: [
                    {
                        type: 'slider',
                        xAxisIndex: 0,
                        filterMode: 'empty'
                    }
                ],
            });
        });
    }

    get_data();
    window.setInterval(get_data, 5000);
</script>
</body>
</html>